// Helper
+basis-range-property("width", 10, 500, 5)
+basis-range-property("height", 10, 500, 5)
+basis-background-color("1", $color-1)
+basis-color("1", $color-1)

.main-container
    @extend %main-container

// Button
+basis-button-extend("1", $color-1)

// List
.list-short
    li
        &:first-child
            a
                border: none

    a
        +transition(all 0.1s)

        display: block
        padding: 10px
        border-top: 1px dotted #eee
        color: $color-dark
        text-decoration: none

        &:before
            @extend .icon-asterisk

            margin-right: 5px
            color: #ccc

        &:hover
            background: #eee

// Select active
select.active
    @extend %basis-highlight

// Finance transactions
[data-finance-transactions="template"]
    display: none
