.default-header
	+box-shadow(0 2px 0 rgba(0, 0, 0, 0.1))

	z-index: 99
	width: 100%
	height: $default-header-height
	position: fixed
	left: 0
	top: 0
	background: $color-dark
	color: #fff

	.nav
		float: right
		margin-right: 15px

		> li
			@extend %basis-clearfix

			display: block
			height: $default-header-height
			position: relative
			float: left
			border-left: 1px solid #444

			> a
				+transition(all 0.1s)

				display: block
				height: 100%
				padding: 0 15px
				color: rgba(255, 255, 255, 0.5)
				font-family: $font-heading
				line-height: $default-header-height
				text-decoration: none

				[class*="icon"]
					position: relative
					top: 2px
					margin-right: 5px
					font-size: 20px

				[class*="tag"]
					z-index: 100
					position: absolute
					left: 26px
					top: 5px

				&:hover,
				&.is-active
					background: #333
					color: #fff

					&:before
						@extend .icon-arrow-up-b

						width: 100%
						position: absolute
						left: 0
						bottom: -7px
						font-size: 20px
						text-align: center

		.dropdown
			+box-shadow(0 5px 10px rgba(0, 0, 0, 0.1))

			display: none
			width: 200px
			max-height: 350px
			overflow: auto
			position: absolute
			top: 100%
			right: 0
			border-bottom: 2px solid $color-dark
			background: #fff

		.dropdown-large
			width: 300px

.default-aside
	z-index: 100
	width: $default-aside-width
	position: fixed
	left: 0
	top: 0

	.main-logo
		a
			display: block
			width: 100%
			height: 120px
			margin: 20px 0
			background:
				image: image-url("logo-jcinvestimentos.png")
				position: 50% 50%
				repeat: no-repeat
				size: auto 100%
			text-indent: -9999px

	.main-nav
		> ul
			> li
				> a
					+transition(all 0.1s)

					display: block
					position: relative
					padding: 15px 15px 15px 35px
					border-top: 1px solid darken($color-1, 6%)
					background: $color-1
					color: #fff
					font-family: $font-heading
					text-decoration: none

					&:hover
						background: darken($color-1, 5%)

					span
						position: absolute
						left: 10px
						top: 10px
						font-size: 20px

				&:first-child
					> a
						border-top: none

			ul
				display: none
				background: darken($color-1, 3%)

				a
					+transition(all 0.1s)

					display: block
					padding: 7px 7px 7px 35px
					border-top: 1px dotted darken($color-1, 6%)
					color: rgba(255, 255, 255, 0.5)
					font-size: 0.9em
					font-weight: bold
					text-decoration: none

					&:hover
						background: darken($color-1, 5%)
						color: #fff

		.is-open
			> a
				background: darken($color-1, 3%)

			ul
				display: block

		.is-sub
			> a
				&:after
					@extend %basis-icon

					content: "\f3d0"
					float: right
					color: darken($color-1, 25%)

			&.is-open
				> a
					&:after
						content: "\f3d8"

		.is-current
			> a
				background: darken($color-1, 10%) !important
				color: #fff

				&:before
					color: #fff

.default-content
	+box-sizing(border-box)

	min-width: $main-width
	height: 100%
	padding: $default-header-height 0 0 $default-aside-width

	.default-content-container
		min-height: 100%
		position: relative
		padding: 15px 15px 60px
		background: #fff

.action-sticky
	+box-sizing(border-box)

	z-index: 90
	width: 100%
	margin-bottom: 15px
	text-align: right

	.action-sticky-container
		padding: 15px 0
		border-bottom: 1px dotted #ddd
		background: #fff

	&.is-sticky
		position: fixed
		left: 0
		top: $default-header-height
		padding: 0 15px 0 ($default-aside-width + 15)

.layout-lite
	+box-sizing(border-box)

	display: table
	width: 100%
	height: 100%
	border-top: 15px solid $color-1

	body
		display: table-cell
		height: 100%
		padding: 30px 0
		vertical-align: middle
		background: #fff

	.lite-header
		width: 50%
		margin: 0 auto 30px

		.main-logo
			a
				+replace-text-with-dimensions("logo-jcinvestimentos.png")

				display: block
				margin: 0 auto
				text-indent: -9999px

	.lite-content
		width: 50%
		margin: 0 auto

.layout-popup
	body
		background: #fff

	.default-content
		min-width: 0
		padding: 0

	.action-sticky
		&.is-sticky
			top: 0
			padding: 0 15px

