body
	background: #fff
	color: $color-dark
	font:
		size: 0.75em
		family: $font-default
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: auto

strong
	font-weight: bold

em
	font-style: italic

button,
[type="submit"],
[type="button"]
	cursor: pointer

[disabled]
	+opacity(0.3)

	cursor: default

