.list-error
	li
		clear: both
		display: block
		padding-top: 5px
		color: $color-danger
		font-size: 0.8em

		&:before
			@extend %basis-icon

			content: "\f128"
			margin-right: 5px

.list-rating
	@extend %basis-clearfix

	display: inline

	li
		display: inline

		a
			+transition(all 0.1s)

			display: block
			float: left
			padding: 3px
			text-decoration: none
			color: #bbb

			&:before
				@extend %basis-icon

				content: "\f24e"
				font-size: 25px

			&:hover
				color: $color-warning

		&.on,
		&.on-hover
			a
				color: $color-warning

		&.off-hover
			a
				color: #bbb

.list-link-inline
	li
		display: inline
		color: #999

		&:before
			content: "/ "
			margin: 0 5px

		&:first-child
			&:before
				content: ""
				margin-left: 0

	a
		@extend %basis-link

.list-notifier
	> li
		+border-radius(3px)

		display: block
		margin: 10px
		padding: 5px
		// border: 1px solid #f0f0f0
		background: #f9f9f9

		h5
			margin-bottom: 10px
			color: $color-dark
			font-size: 1.1em

		a
			@extend %basis-link

			text-decoration: none

		> ul
			> li
				+border-radius(3px)

				display: block
				margin-top: 5px
				padding: 5px
				background: #f0f0f0
				color: #ccc
				font-size: 0.9em
				line-height: 120%

				&:before
					@extend %basis-icon

					content: "\f314"
					margin-right: 3px

				ul
					margin-top: 5px
					padding-top: 5px
					border-top: 1px dotted #ddd
					text-align: right

